[Desktop Entry]
Name=IBKR Trader Workstation
Comment=Interactive Brokers Trading Platform
Exec=/opt/ibkr/tws/tws
Icon=/opt/ibkr/tws/.install4j/tws.png
Terminal=false
Type=Application
Categories=Office;Finance;
StartupWMClass=Trader Workstation
